.bor {
  /*width: 200px;*/
  /*height: auto;*/
  border: solid gray 3px;
  border-radius: 100px;
}

.margin {
  margin-top: 1%;
}

.btngroup{
  margin-top: 200px;
}

h1 h3{
  font-family: "Monotype Corsiva";
}
